body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1e293b;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

.btn {
    background-color: #38bdf8;
    padding: 8px 15px;
    border-radius: 5px;
    color: #0f172a;
    font-weight: bold;
}